nbproject

build
build.xml

#IntelliJ open files on workspace
.idea/workspace.xml

# IntelliJ JDK
.idea/misc.xml



# output folder for z80 compilation
out

# the properties used by MyZ80 IDE
resources/appconfig.properties